* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F4EBE4;
}

.top-nav {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #485E92;
}

.top-nav h3.logo {
  text-align: left;
  padding-left: 8px;
  color: #F4EBE4;
  font-family: 'Google Sans', sans-serif;
}

.top-nav img.logo {
  width: 35px;
  height: 35px;
}
